<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalhes do Usuário: ' + ${usuario.id}">Detalhes do Usuário</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-4">
    <h1 th:text="'Usuário ID: ' + ${usuario.id}">Detalhes do Usuário</h1>

    <p><strong>ID do Usuário:</strong> <span th:text="${usuario.id}"></span></p>
    <p><strong>Nome:</strong> <span th:text="${usuario.nome}"></span></p>
    <p><strong>Data de Nascimento:</strong> <span th:text="${usuario.dataNascimento}"></span></p>
    <p><strong>CPF:</strong> <span th:text="${usuario.cpf}"></span></p>
    <p><strong>RG:</strong> <span th:text="${usuario.rg}"></span></p>
    <p><strong>Nacionalidade:</strong> <span th:text="${usuario.nacionalidade}"></span></p>
    <p><strong>Data de Cadastro:</strong> <span th:text="${usuario.dataCadastro}"></span></p>
    <p><strong>Estado Civil:</strong> <span th:text="${usuario.estadoCivil}"></span></p>
    <p><strong>Profissão:</strong> <span th:text="${usuario.profissao}"></span></p>
    <p><strong>Status:</strong> <span th:text="${usuario.ativo == 1 ? 'Ativo' : 'Inativo'}"></span></p>

    <a th:href="@{/usuario/listar}" class="btn btn-secondary">Voltar para a lista de usuários</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
