<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalhes de Atendimento: ' + ${atendimento.id}">Detalhes de Atendimento</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-4">
    <h1>Descrição do Atendimento</h1>
    <p><strong>ID do Atendimento:</strong> <span th:text="${atendimento.id}"></span></p>
    <p><strong>Descrição:</strong> <span th:text="${atendimento.descricao}"></span></p>
    <p><strong>Dias:</strong> <span th:text="${atendimento.dias}"></span></p>
    <p><strong>Hábito:</strong> <span th:text="${atendimento.habito}"></span></p>
    <p><strong>Tempo de Sono:</strong> <span th:text="${atendimento.tempoSono}"></span></p>
    <p><strong>Hereditário:</strong> <span th:text="${atendimento.hereditario}"></span></p>
    <p><strong>Data de Envio:</strong> <span th:text="${#temporals.format(atendimento.dataEnvio, 'dd/MM/yyyy')}"></span></p>
    <p><strong>Médico:</strong> <span th:text="${atendimento.medico.nome}"></span></p>
    <p><strong>Paciente:</strong> <span th:text="${atendimento.paciente.nome}"></span></p>

    <a th:href="@{/atendimento/listar}" class="btn btn-secondary">Voltar para a lista de atendimentos</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
