<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalhes do Médico: ' + ${medico.nome}">Detalhes do Médico</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-4">
    <h1 th:text="'Médico: ' + ${medico.nome}">Nome do Médico</h1>
    <p><strong>Nome:</strong> <span th:text="${medico.nome}"></span></p>
    <p><strong>Especialização:</strong> <span th:text="${medico.especializacao}"></span></p>
    <p><strong>CRM:</strong> <span th:text="${medico.crm}"></span></p>
    <p><strong>Email:</strong> <span th:text="${medico.email}"></span></p>
    <p><strong>Celular:</strong> <span th:text="${medico.celular}"></span></p>
    <a th:href="@{/medico/listar}" class="btn btn-secondary">Voltar para a lista de médicos</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
