<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1 class="d-flex justify-content-center text-center">Bem-vindo ao CareMI</h1>

    <br>
    <h3 class="d-flex justify-content-center text-center">Sobre nós</h3>
    <p class="d-flex justify-content-center text-center">A nossa solução, visa revolucionar a experiência dos
        pacientes no ambiente hospitalar, eliminando a necessidade de deslocamento físico
        para acessar resultados de exames e receber orientações médicas. Com o CareMI, os
        pacientes terão a conveniência de visualizar os resultados de seus exames
        diretamente em seus dispositivos móveis, apresentados de forma clara e
        compreensível. Além disso, o sistema fornecerá alertas personalizados, indicando a
        necessidade real de retorno ao médico, garantindo um acompanhamento adequado da
        saúde. Essa abordagem não só simplifica o processo para os pacientes, tornando-o
        mais prático e eficiente, mas também eleva a qualidade da experiência,
        proporcionando maior autonomia e tranquilidade</p>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
