<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Listar Resultados de Exames</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Resultados de Exames</h1>
    <div class="alert alert-success"
         th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>

    <table class="table">
        <thead>
        <tr>
            <th>Descrição do Exame</th>
            <th>Resultado</th>
            <th>Observações</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resultado : ${resultadosExames}">
            <td th:text="${resultado.descricaoExame}"></td>
            <td th:text="${resultado.resultado}"></td>
            <td th:text="${resultado.observacao}"></td>
            <td>
                <a th:href="@{/resultado-exame/detalhes/{id}(id=${resultado.id})}" class="btn btn-outline-success m-2">Ver Detalhes</a>
                <a th:href="@{/resultado-exame/editar/{id}(id=${resultado.id})}" class="btn btn-outline-primary m-2">Editar</a>
                <button th:onclick="|resultadoId.value = ${resultado.id}|" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Remover
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/resultado-exame/cadastrar}" class="btn btn-primary">Cadastrar Novo Resultado de Exame</a>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmação de Remoção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente remover o resultado do exame?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/resultado-exame/remover}" method="post">
                        <input type="hidden" name="id" id="resultadoId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
